<!DOCTYPE html>
<html lang="en">
<head>
    <title>BlogApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">  
    <link rel="stylesheet" href="/app.css">
</head>
<body>


    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="rss square icon"></i><a href="/">Blog App</a></div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>

    
