<%-include ('partials/header.ejs')%>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[name]" placeholder="Blog name">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image URL">        
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" placeholder="Blog Content goes here..."></textarea>
        </div>
        <input class="positive ui button" type="submit">
    </form>
</div>
<%-include ('partials/footer.ejs')%>